.forgot-buttons{
    position: relative;
    top: 0px;
    left: -100px;
}
.cancel-btn{
    padding: 10px 24px;
    font-size: 13px;
    font-weight: 600;
    color: #FF9138;
  
    width: 162px;
    height: 40px;
  
    background: none;
    border: 2px solid #FF9138;
  
    box-shadow: 0px 0px 6px #E7E9F2;
    border-radius: 8px;
    position: relative;
    top: 10px;
    left: 30%;
    margin: 0 5px 0 0;
}
.cancel-btn:hover{
    box-shadow: 0px 0px 6px #aeaeb2;
    color: #ffffff;
    background: #FF9138;
}
.continue-btn{
    padding: 10px 24px;
    font-size: 13px;
    font-weight: 600;
    color: #ffffff;
  
    width: 162px;
    height: 40px;
  
    background: #FF9138;
  
    box-shadow: 0px 0px 6px #E7E9F2;
    border-radius: 8px;
    border: 0px;
    position: relative;
    top: 10px;
    left: 30%;
    margin: 0 0 0 5px;
}
.continue-btn:hover{
    box-shadow: 0px 0px 6px #aeaeb2;
}

/* input field */
.forgot-email-input{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 340px;
    height: 36px;
  
    background: #FFFFFF;
  
    border: 1.5px solid #D4D4D7;
    border-radius: 8px;
}
.reset-txt{
    font-weight: 600;
    font-size: 18px;
}
.email-form{
    position: relative;
    top: 100px;
    justify-content: center;
    align-items: center;
}
